doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    h1= message
    p This is your Express + TypeScript starter template.
