<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wrkspace + ExpressJS</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="bg-black flex flex-col items-center justify-center flex-1 w-full px-4">
    <main class="text-center">
      <h1 class="text-5xl font-extrabold mb-4 tracking-wide">Wrkspace + ExpressJS</h1>
      <p class="text-xl mb-8 opacity-75">Express.JS quickstarter boilerplate</p>
      <div class="space-x-4">
        <a
          href="https://wrkspace.co"
          target="_blank"
          class="inline-block bg-white text-black px-6 py-3 rounded-lg shadow-lg hover:bg-gray-200 transition"
          >Wrkspace Website</a
        >
        <a
          href="https://github.com/wrkspace/expressjs-quickstarter"
          target="_blank"
          class="inline-block border border-white text-white px-6 py-3 rounded-lg shadow-lg hover:bg-white hover:text-black transition"
          >Star Repository</a
        >
      </div>
    </main>

    <footer class="mt-20 py-4 text-center text-sm opacity-75">
      License: MIT | Copyright Wrkspace | Version 1.0.0
    </footer>
  </body>
</html>
